{% extends "base.html" %}

{% block title %}Game Details{% endblock %}

{% block content %}
    <h2>Game Overview</h2>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Hero</th>
                <th>K/D/A</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games.gameplayer_set.all %}
                <tr>
                    <td><a href="{% url "player_details" game.player.pk %}">{{ game.player }}</td>
                    <td>{{ game.hero }}</td>
                    <td>{{ game.kills }}/{{ game.deaths }}/{{ game.assists }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>Player name</td>
                    <td>No game details yet!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}