{% extends "base.html" %}

{% block title %}Player Details{% endblock %}

{% block content %}
    <h2>Player's Hero Details</h2>
    <table>
        <thead>
            <tr>
                <th>Hero</th>
                <th>Number of games</th>
                <th>Winrate</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players.player_heroes.all%}
                <tr>
                    <td>{{ player.hero }}</td>
                    <td>{{ player.num_games }}</td>
                    <td>{{ player.winrate }}%</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No hero stats yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Player's Games</h2>
    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th>Your Hero</th>
                <th>Result</th>
                <th>K/D/A</th>
                <th>Date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for player_game in player_games %}
                <tr>
                    <td>{{ player_game.get_team_display }}</td>
                    <td>{{ player_game.hero }}</td>
                    <td>{{ player_game.get_result_display}}</td>
                    <td>{{ player_game.kills }}/{{ player_game.deaths }}/{{ player_game.assists }}</td>
                    <td><a href="{% url "game_details" player_game.game.pk %}">{{ player_game.game.date }}</a></a></td>
                    <td>{{ player_game.game.duration }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No games yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}