{% extends "base.html" %}

{% block title %}Game Details{% endblock %}

{% block content %}
    <h1>Welcome, {{ player.display_name }} ({{ player.username}})</h1>
    <form method="POST" action="{% url "logout" %}">{% csrf_token %}<button type="submit">Log Out</button></form>
    <h2>Players Details</h2>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Hero</th>
                <th>Result</th>
                <th>K/D/A</th>
                <th>Date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for game in all_games %}
                <tr>
                    <td>{{ game.player }}</td>
                    <td>{{ game.hero }}</td>
                    <td>{{ game.get_result_display}}</td>
                    <td>{{ game.kills }}/{{ game.deaths }}/{{ game.assists }}</td>
                    <td>{{ game.date }}</td>
                    <td>{{ game.duration }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No game details yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}