{% extends "base.html" %}

{% block title %}Game Details{% endblock %}

{% block content %}
    <h1>Welcome, {{ player.display_name }} ({{ player.username}})</h1>
    <form method="POST" action="{% url "logout" %}">{% csrf_token %}<button type="submit">Log Out</button></form>
    <h2>Player's Hero Details</h2>
    <table>
        <thead>
            <tr>
                <th>Hero</th>
                <th>Number of games</th>
                <th>Winrate</th>
            </tr>
        </thead>
        <tbody>
            {% for data in player_data.playerhero_set.all%}
                <tr>
                    <td>{{ data.hero }}</td>
                    <td>{{ data.num_games }}</td>
                    <td>{{ data.winrate }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No hero stats yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Player Games</h2>
    <ol>
        {% for game in player_game_data.gameplayer_set.all %}
            <li>{{ game.game.date }} - {{ game.game.duration }} - {{ game.get_team_display }} - {{ game.get_result_display }} </li>
        {% empty %}
            <li>No games details yet!</li>
        {% endfor %}
    </ol>
{% endblock %}