{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2><a href="{% url "latest_game_form" %}">Enter your latest games here!</a></h2>
    <h2>Your Last 5 Games:</h2>
    <table>
        <thead>
            <tr>
                <th>Result</th>
                <th>Team</th>
                <th>Your Hero</th>
                <th>K/D/A</th>
                <th>Date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for game in last_5_games %}
                <tr>
                    <td>{{ game.get_result_display}}</td>
                    <td>{{ game.get_team_display }}</td>
                    <td>{{ game.hero }}</td>
                    <td>{{ game.kills }}/{{ game.deaths }}/{{ game.assists }}</td>
                    <td><a href="{% url "game_details" game.game.pk %}">{{ game.game.date }}</a></a></td>
                    <td>{{ game.game.duration }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No games yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Your Top 5 Favorite Heroes:</h2>
    <table>
        <thead>
            <tr>
                <th>Hero</th>
                <th>Number of games</th>
                <th>Winrate</th>
            </tr>
        </thead>
        <tbody>
            {% for hero in player_top_5_heroes %}
                <tr>
                    <td>{{ hero.hero}}</td>
                    <td>{{ hero.num_games }}</td>
                    <td>{{ hero.winrate}}%</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No favorite heroes yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Top 5 Global Heroes:</h2>
    <table>
        <thead>
            <tr>
                <th>Hero</th>
                <th>Number of games</th>
                <th>Winrate</th>
            </tr>
        </thead>
        <tbody>
            {% for hero in top_5_heroes %}
                <tr>
                    <td>{{ hero }}</td>
                    <td>{{ hero.num_games }}</td>
                    <td>{{ hero.winrate}}%</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No top global heroes yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}